.panda-slide{
    background: #fceae8;
    border-radius: 20px;
    padding: 5%;
}
.categories img{
    height: 100px;
}
.categories{
    border-radius: 20px;
}
.panda-card{
    border: 0px !important;
    border-radius: 10px !important;
}
.panda-card-footer{
    background: white !important;
    border: 0px !important;
    border-radius: 10px !important;
}